<div class="center hero-unit">
	<h1>Welcome to SumoChef!!</h1>

	<h2>
		This is SumoChef Recipe Finder and Shopping List
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("SumoChefRed.png", alt: "Sumo!!!!"), home_path %>