<h1 class="recipe_name"> <%= @recipe.recipe_name %> </h1>
<div class="description"> 
	<h4>Description: </h4>
	<%= h(@recipe.description).gsub(/\n/, '<br/>').html_safe %> 
</div>
<div class="servings"> 
	<h4> Serves: </h4> 
	<%= @recipe.servings %>
</div>

<div class="ingredients">
	<h4> Ingredients: </h4> 
	<ul>
		<% @recipe.contains_products.each do |contains| %>
			<li> <%= contains.quantity %> <%= contains.unit_of_measure %> <%= contains.product.product_name %> </li>
		<% end %>
	</ul>
</div>

<div class="cook_time"> 
	<h4> Total Cook Time: </h4> 
	<%= @recipe.total_cook_time %>
</div>
<div class="prep_time"> 
	<h4> Total Prep Time: </h4> 
	<%= @recipe.total_prep_time %> 
</div>
<div class="directions"> 
	<h4> Directions:  </h4>
	<%= h(@recipe.directions).gsub(/\n/, '<br/>').html_safe %>
</div>

