<div class="search">
	<%= form_tag static_pages_path, :method => 'get' do %>
	  	<p>
	    	<%= text_field_tag :search, params[:search] %>
	    	<%= submit_tag "Search for recipes", :name => nil, class: 'btn btn-primary' %>
	  	</p>
	<% end %>
</div>